<% content_for :title do %>
  <%= @revision.title %>
<% end %>

<% content_for :meta_description do %>
  <%= truncate(strip_tags(@revision.content), :length => 155) %>
<% end %>

<div class="row">
  <div id="article" class="span10">
	<article>
	  <div id="photo-header"></div>
	  <%= render :partial => 'monologue/posts/revision_header', :locals => {:revision=>@revision}%>
	  <div class="content" data-monologue="content">
	    <%= raw @revision.content %>
	  </div>
	
		<div class="tags" data-monologue="tags">
	    <%= render @revision.post.tags %>
	  </div>
	
	  <%= render "social_sharing" %>
	
	  <div id="disqus_thread"></div>
	  <%= render 'layouts/monologue/application/disqus_embed' %>
	  <noscript>Please enable JavaScript to view the comments.</noscript>
	</article>
  </div>
  <div class="span2">
    <aside id="sidebar" data-hook>
      <%= render 'layouts/monologue/application/sidebar' %>
    </aside>
  </div>
</div>

<script type="text/javascript">
  (function($){
	$('#article .content img:first').clone().appendTo("#photo-header");
	$('#article .content img:first').remove();
  })(jQuery);
</script>

