<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <%= render 'layouts/monologue/application/head' %>
</head>
<body>
  <%= render :partial => 'spree/shared/menue_nav_blog' %>
  <header id="header" class="container" data-hook>    
    <% flash.each do |name, msg| %>
      <div class="flash-notice">
        <%= msg %>
      </div>
    <% end %>
    <div class="row">
      <div class="span12">
        <div class="navbar alpha60">
          <div class="navbar-inner">
            <%= render :partial => 'spree/shared/blog_main_nav_bar' %>
          </div>              
        </div>
      </div>
    </div>
  </header> 
  
  <div id="progress"><%= t(:loading) %>...</div>
  
  <div id="wrapper1">
    <%= yield :spree_slider %>
  </div>
    
  <div id="wrapper">
    <div class="container">
      <div id="filters" class="row">
      </div>
      <div class="row">
        <div id="content" class="<% if !content_for?(:sidebar) %>span12<% else %>span12<% end %>" data-hook>  
          <%= rss_icon %>
	      <h1><a href="<%= root_path %>"><%=Monologue.site_name%></a></h1>
	      <h2><%=Monologue.site_subtitle%></h2>
	      <%= render :partial => "layouts/monologue/application/social_icons" %>        
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  
  <footer id="footer" data-hook>
    <div class="container">
      <div class="row">
        <%= render :partial => 'spree/shared/blog_footer' %>,
      </div>
    </div>
  </footer>  
  
  <%= render :partial => 'spree/shared/blog_js_scripts' %>
  
  <%= render :partial => 'spree/shared/google_analytics' %>
  
  <%= render 'layouts/monologue/application/disqus' %>
  <%= render 'layouts/monologue/application/gauge_analytics' %>
</body>
</html>